$white: #ffffff;
$grey: #00303e;
$l-grey: #999999;
$orange: #a6e22e;
$blue: #66d9ef;
$purple: #ae81ff;
$pink: #ec007c;

$dark-background: $grey;
$light-background: $white;

//fonts
$h1-color: $orange;
$h2-color: $blue;
$h3-color: $orange;
$a-color: $purple;
$highlight-color: $orange;