---
import Layout from "../layouts/Layout.astro";
import RecentContent from "../components/RecentContent.astro";
---

<Layout>
    <div class="content">
        <div class="intro">
            <img
                class="hero-image"
                src="https://s3.amazonaws.com/the-junk-drawer/recipes/junkdrawer-hero.png"
                alt="Junkdrawer Hero"
            />
        </div>

        <RecentContent 
            collection="projects" 
            title="Recent Projects" 
            count={3}
            viewAllLink="/projects" 
        />

        <div class="divider"></div>

        <RecentContent 
            collection="posts" 
            title="Recent Posts" 
            count={3}
            viewAllLink="/posts" 
        />
    </div>
</Layout>

<style lang="scss">
    @use "../styles/variables" as *;

    .content {
        margin-top: 5em;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 3em;
    }

    .divider {
      margin: 4em 0;
      height: 1px;
      background: rgba($white, 0.05);
      
      :global(html.light-mode) & {
        background: rgba($grey, 0.1);
      }
    }
</style>
