---
import Layout from "../layouts/Layout.astro";
import RecentContent from "../components/RecentContent.astro";
---

<Layout>
    <div class="content">
        <div class="intro">
            <img
                class="hero-image"
                src="https://s3.amazonaws.com/the-junk-drawer/recipes/junkdrawer-hero.png"
                alt="Junkdrawer Hero"
            />
        </div>

        <RecentContent 
            collection="projects" 
            title="Recent Projects" 
            count={3}
            viewAllLink="/projects" 
        />

        <RecentContent 
            collection="posts" 
            title="Recent Posts" 
            count={3}
            viewAllLink="/posts" 
        />
    </div>
</Layout>

<style lang="scss">
    @use "../styles/variables" as *;
    @use "../styles/components.scss";

    .content {
        margin-top: 5em;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 3em;
    }

    // Additional custom styles for the homepage if needed
    .intro {
        margin-bottom: 2em;
    }
</style>
