---
import Layout from "../layouts/Layout.astro";
import RecentContent from "../components/RecentContent.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout>
    <HeroSection />
    
    <div class="content">
        <RecentContent 
            collection="projects" 
            title="Recent Projects" 
            count={3}
            viewAllLink="/projects" 
        />

        <div class="divider"></div>

        <RecentContent 
            collection="posts" 
            title="Recent Posts" 
            count={3}
            viewAllLink="/posts" 
        />
    </div>
</Layout>

<style lang="scss">
    @use "../styles/variables" as *;

    .content {
        margin-top: 2em;
    }

    .divider {
      margin: 4em 0;
      height: 1px;
      background: rgba($white, 0.05);
      
      :global(html.light-mode) & {
        background: rgba($grey, 0.1);
      }
    }
</style>
