---
import ThemeSwitcher from "./ThemeSwitcher.astro";
const { title = "Junkdrawer", description = "" } = Astro.props;
---

<div class="top-nav">
    <div class="container nav">
        <a href="/" class="site-title">{title}</a>
        <div class="nav-right">
            <p>{description}</p>
            <ThemeSwitcher />
        </div>
    </div>
</div>

<style lang="scss">
    @use "../styles/variables" as *;
    @use "../styles/mixins" as *;

    .top-nav {
        height: 3em;
        display: flex;
        align-items: center;
        @include light-background;
        transition: background-color 0.3s ease, color 0.3s ease;
        padding: 0 10vw;

        .site-title {
            text-decoration: none;
            color: $grey;
            font-size: 1em;
            font-weight: 600;
            transition: color 0.3s ease;
        }
        
        // Light mode styles (using global selector for theme support)
        :global(html.light-mode) & {
            @include dark-background;
            
            .site-title {
                color: $white;
            }
            
            p {
                color: $white;
            }
        }
    }

    .container.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 80em;
        margin: 0 auto;
        padding: 0;

        p {
            font-size: 1em;
            margin-right: 1em;
            transition: color 0.3s ease;
        }
    }

    .nav-right {
        display: flex;
        align-items: center;
    }
</style>
