---
const { frontmatter } = Astro.props;
import TopNav from "../components/TopNav.astro";
import "../styles/main.scss";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link
            href="https://fonts.googleapis.com/css?family=Inconsolata"
            rel="stylesheet"
        />
        <title>Junkdrawer</title>
        <!-- Theme initialization script - runs immediately -->
        <script is:inline>
            (function() {
                const savedTheme = localStorage.getItem('theme') || 'dark';
                if (savedTheme === 'light') {
                    document.documentElement.classList.add('light-mode');
                } else {
                    document.documentElement.classList.remove('light-mode');
                }
            })();
        </script>
    </head>
    <body>
        <TopNav />
        <div class="container">
            <slot />
        </div>
    </body>
</html>
